<a href="https://colab.research.google.com/github/shamy-campo11/Intro_python_202320/blob/main/introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduccion a python
##Curso de programacion y algoritmia UPB 202320
- Nombre: Shamy Campo
- ID: 000500233
- Gmail: shamy.campo@upb.edu.co

 Esta es la expresion de la recta :$$y=mx+b$$

 donde $x$ es la posicion

In [ ]:
# comentarios
# Mis primeras lineas de codigo
name = 'Shamy'
print ("Hello,",name)

Hello, Shamy

In [ ]:
# comentarios

firstname = 'Shamy'
lastname = 'Campo'
age = '18'
city = 'Monteria'
food = 'hamburguesa'
print ("Hola mi nombre es", firstname ,lastname , "y tengo",age, "vivo en " , city,"mi comida favorita es ", food)

Hola mi nombre es Shamy Campo y tengo 18 vivo en  Monteria mi comida favorita es  hamburguesa

In [7]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c= c * a
print(c)
c = int(c / b)
print(c)
d = 0.3
c += d
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5
5.3

In [14]:
m = 5
b = 2
x = -3
y = m * x + b
print(x, '/---/', y)
x = -2
y = m * x + b
print(x,'/---/',y)
x = -1
y = m * x + b
print(x, '/---/',y)

-3 /---/ -13
-2 /---/ -8
-1 /---/ -3

In [19]:
a = 1
b = 2
c = -8
disc = (b ** 2 - 4 * a * c ) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p:',x_p)
print('x_n:',x_n)
print('-'*10)
a = -3
b = 1
c = 10
disc = (b ** 2 - 4 * a * c ) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p:',x_p)
print('x_n:',x_n)
print('-'*10)
a = 0.1
b = -2
c = 0.5
disc = (b ** 2 - 4 * a * c ) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p:',x_p)
print('x_n:',x_n)
print('-'*10)

x_p: 2.0
x_n: -4.0
----------
x_p: -1.6666666666666667
x_n: 2.0
----------
x_p: 19.74679434480896
x_n: 0.25320565519103666
----------

In [20]:
fistname = 'Shamy'
lastname = 'Campo'
fullname = fistname + ' ' + lastname
print(fullname)

Shamy Campo

In [22]:
song = """un elefante se balanceaba
sobre la tela de una araña
como veia que resistia
se fue a buscar otra...no se. """
print(song)

un elefante se balanceaba
sobre la tela de una araña
como veia que resistia
se fue a buscar otra...no se.

In [26]:
a = 3
b = 5
print(a == b)
print(a != b)
print (a > b)
print(a < b)
print((a == b) and (b * 3 > 5 ))
print((a == b) or (b + 3 > 5))
print(not(a == b))

False
True
False
True
False
True
True